@mixin generate-utility($utility, $breakpoint) {
  $properties: map.get($utility, property);

  // Multiple properties are possible, for example with vertical or horizontal margins or paddings
  @if (type-of($properties) == "string") {
    $properties: list.append((), $properties);
  }

  // Use custom class if present
  $property-name: if(
    map.has-key($utility, class),
    map.get($utility, class),
    list.nth($properties, 1)
  );
  $property-name: if($property-name == null, "", $property-name);

  $data: map.get($utility, values);
  @each $bp, $values in $data {
    @if ($bp == $breakpoint) {
      @each $key, $value in $values {
        @each $property in $properties {
          --#{$property-name + $key}: #{$value};
        }
      }
    }
  }
}

@mixin generate-rules() {
  @each $name, $width in $breakpoints {
    @if $name == default {
      @each $key, $utility in $spacings {
        @include generate-utility($utility, $breakpoint: $name);
      }
    } @else {
      @include susy-breakpoint($width) {
        @each $key, $utility in $spacings {
          @include generate-utility($utility, $breakpoint: $name);
        }
      }
    }
  }
}
